/.vs
/.vscode
/bin-int
/bin

.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**/Makefile

CMakeLists.txt
**.cmake
/build
/CMakeFiles
CMakeCache.txt
/.cache
/.mypy_cache
/compile_commands
/compile_commands.json
# .clangd

# For vscode
/Tasks
**/.vscode
**.code-workspace